html {
  background-color: #E5E5E5;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.header {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #3D8B37;
  text-align: left;
}

#headerbar {
  background-color: #A9A9A9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  display:inline;
}

nav a:link, a:visited {
    width: 100px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #fcfcfc;
    text-align: center;
    background-color: #86c67c;
    padding: 2px;
    text-decoration: none;
    text-transform: lowercase;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 4px;
  text-align: left;
  font-size: 10px;
}

p {
  position: relative;
  width: 70%;
}

aside {
  position: fixed;
  float: right;
  margin-right; 1em;
  width: 150px;
}