/* color combo for blog
headers / titles: #5ca36a;
text: black;
light grey: #ddddd;
nav bar links: white;
nav bar block: #86c67c (right now);
nav bar block, hover background color: #008000 (now);
links (not nav bar): #66cdaa;
dark grey: #142030;
background: #E5E5E5;
pop out FUN color: #ff4444;
*/

html {
  background-color: #E5E5E5;
  font-family: 'Oxygen', sans-serif;
}

.header {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #5ca36a;
  text-align: center;
}

div {
  border: 3px solid #142030;
  padding: 2em;
  text-align: center;
}

.font-fun {
  font-family: "Florence", sans-serif;
  font-size: 22px;
  color: #ff4444;
}

#headerbar {
  background-color: #dddddd;
}

nav {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

/*inside the nav bar */
body nav ul a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #fcfcfc;
    background-color: #86c67c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

/*inside the nav bar */
body nav ul a:hover, a:active {
    background-color: #008000;
    text-decoration: none;
}

p a:link {
  font-weight: bold;
  text-decoration: none;
  color: #66cdaa;
}

/*inside the body, not the nav bar*/
p a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #66cdaa;
}

/*inside the body, not the nav bar*/
p a:hover, a: active; {
  text-decoration: none;
  color: #66cdaa;
}

.table-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
}

table a:link, a:visited {
  color: #66cdaa;
  text-decoration: none;
  text-align: center;
}

/*social*/
body aside a:link, a:visited {
    font-weight: bold;
    color: #1E90FF;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

/*social */
body aside a:hover, a:active {
    background-color: #E5E5E5;
    text-decoration: none;
}

body aside {
  clear: both;
  margin: 5px;
  text-align: center;
}

article {
  font-size: 14px;
  text-align: center;
}

footer {
  clear:both;
  margin-bottom: 0px;
  width: 100%;
  padding: 4px;
  text-align: center;
}

#image-header {
  margin-left: 42%;
}

.thumbnail {
  display: inline-block;
  margin: 10px;
}

.posts {
  border: 1px dotted;
  width: 100%;
  text-align: left;
}

p {
  color: black;
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
}