html {
  background-color: #E5E5E5;
  font-family: 'Oxygen', sans-serif;
}

.header {
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #3D8B37;
  text-align: center;
}

#headerbar {
  background-color: #A9A9A9;
}

nav {
  margin-left: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}
/*inside the nav bar */
body ul a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #fcfcfc;
    background-color: #86c67c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: lowercase;
}

/*inside the nav bar */
body ul a:hover, a:active {
    background-color: #008000;
    text-decoration: none;
}

/*inside the body, not the nav bar*/
body section a:link {
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
  color: #8A2BE2;
}

/*inside the body, not the nav bar*/
body section a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #DC143C;
}

/*inside the body, not the nav bar*/
body section a:hover, a: active; {
  text-decoration: none;
  padding: 2px;
  color: #008000;
}

/*inside the footer, not the nav bar*/
body aside table a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #fcfcfc;
    background-color: #86c67c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: lowercase;
}

/*inside the footer */
body table a:hover, a:active {
    background-color: #E5E5E5;
    text-decoration: none;
}

/*post index a */
main table a:hover, a:active {
  font-weight: bold;
  color: #E5E5E5;
  background-color: #86c67c;
  padding: 2px;
  text-decoration: none;
  text-transform: lowercase;
}

/*post index a */
main table a:link, a:visited {
  font-weight: bold;
  color: #008000;
  background-color: #E5E5E5;
  text-decoration: none;
  text-transform: lowercase;
}

article {
  font-size: 14px;
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 4px;
  text-align: center;
}

table {
  table-layout: auto;
  border: none;
  position: relative;
  padding: 1px;
  width: 100%;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 1em;
}

tr, td {
  border: none;
  position: relative;
  margin: 10px;
}

table tr td img {
  position: relative;
  margin-right: 60%;
  margin-top: 2em;
  margin-bottom: 1em;
}

#alignl {
  text-align: left;
}

#alignr {
  text-align: right;
}

img {
  position: relative;
  padding: 0;
}

#image-header {
  margin-left: 42%;
}

.posts {
  border: 1px dotted;
  width: 100%;
  text-align: left;
}

p {
  color: black;
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
}

#strong {
  font-weight: bold;
  font-style: italic;
}