/* color combo for blog
headers / titles: #5ca36a;
text: black;
light grey: #ddddd;
nav bar links: white;
nav bar block: #86c67c (right now);
nav bar block, hover background color: #008000 (now);
links (not nav bar): #66cdaa;
dark grey: #142030;
background: #E5E5E5;
pop out FUN color: #ff4444;
*/

html {
  background-color: #E5E5E5;
  font-family: 'Oxygen', sans-serif;
}

.header {
  font-family: 'Trebuchet MS', sans-serif;
  color: #142030;
  text-align: center;
}

div {
  padding: 2em;
  text-align: center;
}

.circle {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px black dashed;
  margin-left: auto;
  margin-right: auto;
}

#circletext {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
}

.div-right {
  float: right;
}

.outside-circle {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  width:  20%;
}

#headerbar {
  background-color: #dddddd;
}

nav {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

/*inside the nav bar */
nav ul a:link {
  display: block;
  width: 100px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #86c67c;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 16px;
}

p a:link {
  color: #ff4444;
  text-decoration: none;
}

p a:visited {
  color: #66cdaa;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 10px;
}

/*inside the nav bar */
nav ul a:hover {
  color: #dddddd;
  background-color: #008000;
  text-decoration: none;
}







