/* color combo for blog
headers / titles: #5ca36a;
text: black;
light grey: #ddddd;
nav bar links: white;
nav bar block: #86c67c (right now);
nav bar block, hover background color: #008000 (now);
links (not nav bar): #66cdaa;
dark grey: #142030;
background: #E5E5E5;
pop out FUN color: #ff4444;
*/

html {
  background-color: #E5E5E5;
  font-family: 'Oxygen', sans-serif;
}

.header {
  font-family: 'Trebuchet MS', sans-serif;
  color: #142030;
  text-align: center;
}

div {
  padding: 2em;
  text-align: center;
}

.font-fun {
  font-family: "Florence", sans-serif;
  font-size: 22px;
  color: #ff4444;
}

#headerbar {
  background-color: #dddddd;
}